<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All People</title>
</head>
<body>

<div th:each="person : ${index}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getName()}">user</a>
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getSurname()}">user</a>
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getAge()}">user</a>
</div>

<br>
<a th:href="@{/people/new}">Create new Person</a>

</body>
</html>